<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/service/:id"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ servicio?.name_service }}
      </ion-card-title>
      <p>Nombre del Partner: {{ partner?.name_partner }}</p>
      <p>Estatus: {{ servicio?.status_service }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div padding-top="10px">
      <!-- <div *ngIf="tableService.filter" class="filter-panel-header fieldset-wrap">
                <div class="field-row">

                    <div class="field-row-item" *ngIf="tableService.filter.since_date">
                        <span class="label">Desde</span>
                        <span>{{tableService.filter.since_date}}</span>
                    </div>
            
                    <div class="field-row-item" *ngIf="tableService.filter.until_date">
                        <span class="label">Hasta</span>
                        <span>{{tableService.filter.until_date}}</span>
                    </div>

                </div>
            </div> -->

      <form>
        <fieldset class="fieldset">
          <div class="field-row">
            <div>
              <div class="field-row-item">
                <label class="label" for="name_plan">Desde</label>
                <input
                  type="date"
                  name="since_date"
                  placeholder="None"
                  [(ngModel)]="filter.since_date"
                />
              </div>

              <div class="field-row-item">
                <label class="label" for="name_plan">Hasta</label>
                <input
                  type="date"
                  name="until_date"
                  placeholder="None"
                  [(ngModel)]="filter.until_date"
                />
              </div>
            </div>
          </div>
        </fieldset>
        <ion-row>
          <ion-col width-50  style="text-align: right; padding-left: 35px;">
            <button class="btn-text gray" type="button"  (click)="reset()">
              <span>Limpiar</span>
            </button>
          </ion-col>
      
          <ion-col width-50 style="text-align: left">
            <button class="btn-text blue" type="button"  (click)="reportes()">
              <span>Reporte</span>
            </button>
          </ion-col>
        </ion-row>

        <div class="options"></div>
        <hr />
      </form>
    </div>
    <br />
    <!-- <ion-card-content>
      <canvas #barCanvas width="400" height="400"></canvas>
    </ion-card-content> -->
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-label text-wrap>
            <ion-text>
              <p><b>Id:</b> {{ item.id }}</p>
              <p><b>Cliente:</b> {{ item.customer?.name_customer }}</p>
              <p><b>Plan:</b> {{ item.billingSettings?.plan?.name_plan }}</p>
              <p><b>Estatus:</b> {{ item.status_invoice }}</p>
              <p><b>Monto:</b> {{ item.total_invoice }}</p>
              <p><b>Fecha:</b> {{ item.dateCreated_invoice }}</p>
              
             
              <br />
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
   
  </ion-card>
  <ion-infinite-scroll *ngIf="items" threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Cargando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
