<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/partner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle del Partner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ unico?.name_partner}}
      </ion-card-title>
      <p>Dirección: {{ unico?.adress_partner}}</p>
      <p>Teléfono: {{ unico?.phone_partner}}</p>
      <p>Ciudad: {{ unico?.city?.name_city}}</p>
      <p>País: {{ unico?.city?.country?.name_country}}</p>
      <p>Porcentaje de Cobro: {{ unico?.feeRate_partner}}</p>
      <p>Estatus: {{ unico?.status_partner}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
