.btn-text.gray{
  background-color: #acacac;
  border-color: #acacac;
  color: #fff;
}
.btn-text.red{
  background-color: #fb5f5f;
  border-color: #fb5f5f;
  color: #fff;
}
option{
  padding-left: 5px;
}